*.png
!*/*.png
*.root
*.xlsx
*.wav

__pycache__
afterpulse*.npz
fdrall/*
figrescomp*.npz
figrescurve.npz
figtempresdowns*.npz
figwindowtempres*.npz
hist2dall/*
LF_TILE15*.npz
nuvhd*.npz
!/nuvhd*tile57*6VoV*.npz
toy*.npz
