*.png
!*/*.png
*.root
*.xlsx
*.wav

__pycache__
afterpulse*/*
darksidehd
fdrall/*
figthesis/*.npz
figthesis/*.gvar
!figthesis/figchangebs*.npz
!figthesis/figdoublepeak.npz
!figthesis/figfakerate/*.npz
!figthesis/fighist2d*.npz
!figthesis/figsnrmaxplot.npz
!figthesis/figsnrplot.npz
!figthesis/figspectra.npz
!figthesis/figtriggerhist.npz
hist2dall/*
noises/*
!noises/nuvhd*tile57*6VoV_1*.npz
!noises/merged_000886-adc_W201_Ch00.npz
slides-2021-yy-yy/*.png
templates/*
!templates/nuvhd*tile57*6VoV_1*.npz
toy*.npz
